.booking {
  background: #440f51;
  padding: 80px 30px;
  margin-top: 50px;
}

.booking__fieldset {
  display: flex;
  flex-wrap: wrap;

  border: 0;
  font-size: 22px;
  padding: 0;
}

.booking__fieldset {
  margin-bottom: 60px;
}

.booking__fieldset:last-child() {
  margin-bottom: 0;
}

.booking__legend {
  display: inline-block;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 40px;
}

.booking__label {
  display: flex;
  align-items: center;
}

.booking__input[type="radio"] {
  margin-right: 12px;
  width: 27px;
  height: 27px;
}

.booking__input[type="checkbox"] {
  margin-right: 12px;
  width: 25px;
  height: 25px;
}

.booking__fieldset--room {
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 60px;
}

.booking__fieldset--all-services {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0;
}

.booking__fieldset--services {
  display: flex;
  flex-basis: 300px;
  flex-direction: column;
  align-content: flex-start;
  gap: 20px;
}

.booking__legend--services {
  margin-bottom: 24px;
  text-align: left;
}

.booking__input--room {
  display: none;
}

.booking__label--room {
  justify-content: center;
  flex: 250px 0 1;
  max-width: 250px;
  padding: 7px 15px;
  border: solid 2px #ccc;
  border-radius: 8px;
  background: #FFF;

  color: #000;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
}

.booking__input--room:checked+label {
  background-color: tomato;
}

.booking__input--bottom-arrow {
  position: relative;
}

.booking__input--bottom-arrow::after {
  content: url("../assets/icons/arrow_bot.svg");
  display: inline-block;
  position: absolute;
  width: 21px;
  height: 15px;
}

.booking__input[type="text"] {
  border: none;
  max-width: 300px;
  max-height: 52px;
  padding: 12px 20px;
}

.booking__input--short[type="text"] {
  max-width: 134px;
  margin-right: 32px;
}

.booking__input--short:last-child {
  max-width: 134px;
  margin-right: 0;
}

.booking__button {
  justify-self: flex-end;

  width: 300px;
  height: 60px;

  border-radius: 10px;
  background: #fff;

  color: #6C0287;

  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.booking__fieldset--datetime {
  justify-content: space-between;
}