.address {
  font-style: normal;
}

.address__element {
  position: relative;
  width: 415px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  padding-left: 65px;
  padding-top: 11px;
  padding-bottom: 11px;
}

.address__element--big_padding {
  padding-bottom: 38px;
}

.address__element::before {
  position: absolute;
  left: 0;
  width: 35px;
  height: 32px;
}

.address__element--location::before {
  content: url('/assets/icons/contacts-location.svg');
}

.address__element--phone::before {
  content: url('/assets/icons/contacts-phone.svg');
}

.address__element--email::before {
  content: url('/assets/icons/contacts-mail.svg');
}