.contacts__text {
  display: inline-block;
  width: 415px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-top: 11px;
  margin-bottom: 11px;
}

.contacts-address {
  padding-bottom: 38px;
}

.contacts__element::before {
  padding-right: 30px;
  width: 35px;
}

.contacts-address::before {
  content: url('/images/icons/contacts-location.svg');
}

.contacts-phone::before {
  content: url('/images/icons/contacts-phone.svg');
}

.contacts-email::before {
  content: url('/images/icons/contacts-mail.svg');
}