.faq__element {
  position: relative;
  background-color: #fff;
  color: #1c1a1a;
  font-weight: 700;
  font-size: 24px;
  padding: 30px 70px;
  margin-bottom: 20px;
}

.faq__element:last-child {
  margin-bottom: 0;
}

.faq__element:nth-child(even) {
  background-color: #440f51;
  color: #fff;
}

.faq__element::after {
  content: url("../assets/icons/open_purple.svg");
  display: inline-block;
  position: absolute;
  top: 25%;
  right: 70px;
  width: 46px;
  height: 46px;
}

.faq__element:hover::after {
  content: url("../assets/icons/open_purple_hover.svg");
}

.faq__element:active::after {
  content: url("../assets/icons/open_purple_active.svg");
}

.faq__element:nth-child(even)::after {
  content: url("../assets/icons/open.svg");
}

.faq__element:nth-child(even):hover::after {
  content: url("../assets/icons/open_hover.svg");
}

.faq__element:nth-child(even):active::after {
  content: url("../assets/icons/open_active.svg");
}