.footer {
  background: linear-gradient(180deg, #1b1a1b 0%, #370a37 100%);
}

.social__item {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 26px;

  transition: color 0.3s ease;
}

.social__item:hover,
.social__item:focus {
  color: #eadeed
}

.social__item:active {
  color: #cd06ff
}

.address {
  margin-bottom: 40px;
  max-width: 440px;

  font-style: normal;
}

.address__element {
  position: relative;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  padding-left: 65px;
  padding-top: 7px;
  min-width: 440px;
}

.address__element:not(:last-child) {
  margin-bottom: 7px;
}

.address__element.address__element--big_margin {
  margin-bottom: 38px;
}

.address__element::before {
  position: absolute;
  left: 0;
  width: 35px;
  height: 32px;
}

.address__element--location::before {
  content: url('../assets/icons/contacts-location.svg');
  padding-top: 13px;
}

.address__element--phone::before {
  content: url('../assets/icons/contacts-phone.svg');
}

.address__element--email::before {
  content: url('../assets/icons/contacts-mail.svg');
}

.footer__map {
  transition: transform 200ms ease;
}

.footer__map:hover {
  transform: scale(1.1);
}