html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 1px solid #cd06ff
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;

  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;

  color: #fff;
  background-color: #1b1a1b;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, p, figure, fieldset {
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 auto;

  padding: 50px 0;
}

.section__container {
  display: flex;
  padding: 0;
}

.section, .section__container {
  max-width: 1180px;
  flex-wrap: wrap;
  column-gap: 60px;
}

.section--full-width {
  max-width: 100%;
  align-content: center;
}

.section__header {
  align-self: center;

  max-width: 980px;
  margin-bottom: 40px;
  
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
}

.uppercase {
  text-transform: uppercase;
}