.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  color: var(--text-color);
  font-size: 22px;
  text-transform: uppercase;
  padding-top: 30px;
}

.navigation__list {
  display: flex;
  gap: 40px;
  line-height: 50px;
}

.header__call-button {
  background: none;
  width: 280px;
  height: 55px;
  border-radius: 10px;
  outline: none;
  border: 3px solid var(--focus-border-color);

  color: var(--text-color);
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;

  transition: background-color 0.25s 0.1s ease, border-color 0.5s ease;
}

.header__call-button:hover,
.header__call-button:focus {
  border: 3px solid var(--btn-border-color);
  background: var(--btn-focus-bg);
}

.header__call-button:active {
  border: 1px solid var(--btn-active-border-color);
  background: var(--btn-active-bg);
}