.quote-big {
  display: block;
  margin: 0;
  padding-top: 80px;
}

.quote-big-cite__block {
  margin-left: auto;
  padding-top: 40px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.quote-big__text {
  width: 100%;
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
  padding-left: 55px;
  padding-right: 55px;
}

.quote-big__text::before {
  content: "“ ";
  color: #6C0287;
  font-weight: 900;
}

.quote-big__text::after {
  content: " ”";
  color: #6C0287;
  font-weight: 900;
}

.quote-big-cite__image {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-right: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.quote-big-cite__text {
  display: inline-block;
  width: 280px;
}