.reviews__wrapper {
  padding: 0 100px;
}

.reviews__paragraph {
  display: inline-block;
  width: 680px;
}

.reviews__element:not(:last-child) {
  margin-bottom: 50px;
}

.reviews__element::after {
  content: "";
  display: table;
  clear: both;
}

.reviews__figure {
  float: left;
  margin-right: 20px;
  text-align: center;
}

.reviews__img {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.reviews__img--first {
  object-position: 0 -5px;
}

.reviews__img--second {
  object-position: 0 -50px;
}

.reviews__img--third {
  object-position: 0 -80px;
}