.container--reviews {
  padding: 0 100px;
}

.reviews__paragraph {
  display: inline-block;
  max-width: 660px;
  padding-top: 52px;
}

.reviews__element:not(:last-child) {
  margin-bottom: 50px;
}

.reviews__figure {
  display: inline-block;
  margin-right: 20px;
  text-align: center;
  vertical-align: top;
}

.reviews__img {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;

  transition: transform 200ms ease;
}

.reviews__img--first {
  object-position: 0 -5px;
}

.reviews__img--second {
  object-position: 0 -50px;
}

.reviews__img--third {
  object-position: 0 -80px;
}

.reviews__img:hover {
  transform: scale(1.1);
}