.room__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.room__item {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-basis: 580px;
  height: 349px;

  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  transition: transform, 400ms ease;
}

.room__item:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.room__link {
  display: inline-block;
  max-width: 252px;

  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
  text-transform: uppercase;
}

.room__item:nth-child(2n) {
  margin-right: 0;
}

.room__item:nth-last-child(-n+2) {
  margin-bottom: 0;
}

.room__item--80 {
  background-image: url('../images/room_80s.jpg');
}

.room__item--starwars {
  background-image: url('../images/room_star_wars.jpg');
}

.room__item--wildwest {
  background-image: url('../images/room_wild_west.jpg');
}

.room__item--neonstyle {
  background-image: url('../images/room_neon_style.jpg');
}