.room__element {
  padding: 275px 477px;
  margin-bottom: 60px;
}

.room__element:last-child {
  margin-bottom: 0;
}

.room__link {
  display: block;
  text-align: center;
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
  text-transform: uppercase;
}

.room-80 {
  background: url('../images/room_80s.jpg');
}

.room-starwars {
  background: url('../images/room_star_wars.jpg');
}

.room-wildwest {
  background: url('../images/room_wild_west.jpg');
}

.room-neonstyle {
  background: url('../images/room_neon_style.jpg');
}