.service__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 70px;
}

.service__item:nth-child(3n + 2) {
  transform: translate(0, 70px);
}

.service__item {
  display: flex;
  min-height: 228px;
  flex-basis: 380px;
  align-items: flex-end;

  background-repeat: no-repeat;
  background-size: cover;

  transition: transform, 400ms ease;
}

.service__item:hover {
  transform: scale(1.1);
  box-shadow: var(--box-shadow)
}

.service__item:nth-child(3n + 2):hover {
  transform: scale(1.1) translate(0, 70px);
}

.service__name {
  min-height: 56px;
  font-weight: 700;
  padding: 0 40px;
  margin-bottom: 6px;
}

.service__item--vr {
  background-image: url("../images/vr.jpg");
}

.service__item--audio {
  background-image: url("../images/audio.jpg");
}

.service__item--karaoke {
  background-image: url("../images/karaoke.jpg");
}

.service__item--games {
  background-image: url("../images/game.jpg");
}

.service__item--netflix {
  background-image: url("../images/netflix.jpg");
}

.service__item--ps {
  background-image: url("../images/sony.jpg");
}