* {
  box-sizing: border-box;
}

body {
  background-color: #1b1a1b;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  color: #fff;
  font-weight: 400;
  line-height: 28px;
  margin-left: 130px;
  margin-right: 130px;
}

.wrapper {
  width: 1200px;
  padding: 30px;
  margin: 0 auto;
}

h1 {
  font-size: 150px;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: -15px;
  margin-bottom: 0;
}

h2 {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
}

li {
  list-style: none;
}